@model RealEstate.Rentals.RentalsList

@{
    ViewBag.Title = "Index";
}

<h2>Rental Listings</h2>
@using (Html.BeginForm())
{
    <label for="PriceLimit">Price Limit</label>    
    @Html.TextBox("PriceLimit", Model.RentalFilter.PriceLimit);
    //htmlAttributes: new { @type = "text" }
    //@Html.EnumDropDownListFor(model => model.RentalFilter.SortBy);
    <select data-val="true" data-val-required="The SortBy field is required." id="RentalFilter_SortBy" name="SortBy">
        <option selected="selected" value="0">Rental Name</option>
        <option value="1">Price</option>
    </select>
    <input type="submit" value="Filter" />
}

<p>
    @Html.ActionLink("Post Rental", "Post")
</p>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Number Of Rooms
        </th>
        <th>
            Address
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @if (Model.Rentals != null && Model.Rentals.Any())
    {
        foreach (var item in Model.Rentals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @item.Adjustments.Select(a => a.Describe()).LastOrDefault()
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Adjust Price", "AdjustPrice", new { Id = item.Id})
                </td>
            </tr>
        }
    } else
    {
        <tr><td>Sorry, no data found</td></tr>
    }

</table>
